# if the portname is a device, it will try to use serial. if
# it is a hostname, it will try to use TCPIP

#portName=10.0.0.10 # local address on waring school network
#portName=fc.waringschool.org
#portName=serial-dev
#portName=home.tom.org
#portName=192.168.1.60
portName=192.168.1.48
baudRate=5511
# raingauge: 0 = no gauge, 1 = 0.01 inch, 2 = 0.2 mm
rainGauge=2

# if an WeatherLinkIP (WLIP) datalogger on board, this wlip-switch releases the
# socket every minute for 5 seconds or so. During that 5 seconds, the WLIP
# will send data to the Davis Weatherlink network. 
# Set to false if no WLIP on board, or you dont want to send data to the 
# Davis Weatherlink network.

wlip=true

# serial settings
#portName=/dev/ttyS99
#baudRate=19200

graph.db.Driver=com.mysql.jdbc.Driver
graph.db.Url=jdbc:mysql://v-servers/weather_production?autoReconnect=true
graph.db.Username=wxprod
graph.db.Password=production
graph.metric=true
graph.location=WELSUMVP
graph.baseDir=/data/tmp/charts
#graph.baseDir=c:/tmp/graphs

ws.password=wx
ws.location=WELSUMVP

