#
# time zones
# use rake time:zones:all|local|us to see list of options

common:
  latitude:          42.56212
  longitude:        -70.84997
  location:         01915
  climate_location: 01915
  noaa_location:    EHAM # use this for both noaa and wunderground forecasts, conditions
  #KBVY
  cwop_id: CW1234
  cwop_lat_long: 5229.28N/00529.93E
  rrd_enabled: true
  rrd_lib_dir:  # this is the directory where RRD.so lives
  rrd_graphs:
    01915:
      rrd_files_location: /Users/tom/dev/rrd-data
    WARING:
      rrd_files_location: /Users/tom/dev/rrd-data-waring

development:
  service_password: secret

lelystad-development:
  service_password: secret

test:
  service_password: secret

production:
  service_password: secret
  sync_src: http://wx/weather/wsdl
  sync_dest: http://tommitchell.net/weather/weather/wsdl

vservers-development:
  service_password: secret
