  <TABLE BORDER WIDTH="360" BGCOLOR="#C0C0C0">
  <div id="CLIMATE">
  <% if @climate_available %>
    <TR>
      <TD ALIGN="CENTER"><B>Normal High</B><br>
        <%= @normal_high %>
      </TD>
      <TD ALIGN="CENTER"><B>Normal Low</B><br>
        <%= @normal_low %>
      </TD>

    </TR>
  <% end %>
  </div>
  </TABLE>
