<table>

<TR>
<TD COLSPAN="2" >
<img src="http://www.srh.weather.gov/ridge/lite/N0R/BOX_loop.gif"   width="480" height="480" alt="">
</TD>
</TR>

<TR>
<TD COLSPAN="2" ><center>View to the North - updated every <b>minute</b></center></TD>
</TR>
<TR>
<TD COLSPAN="2" >
<img src="http://www.tom.org:8083/~tom/images/weather/north-webcam.jpg"   width="480" height="360" alt="Current Webcam">
</TD>
</TR>

</table>

