<applet CODE = "org.tom.weather.astro.SimpleSunApplet.class" codebase="<%= PATH_PREFIX %>/java" WIDTH = 360 HEIGHT = 168 NAME = "SimpleSun">
<PARAM NAME = bgcolor VALUE ="#FFFFFF" >
  The SimpleSun Applet is displayed here if your browser supports Java.
</applet>



