<center><b>
<h2>3 Day Tide Predictions - <a href="http://www.tom.org:9999/locations/473.html">Complete Tide Info</a>
</h2></b></center>

<p align="center">
    <font face="Arial">
        <img src="http://www.tom.org:8083/weather/images/tides.png" alt="tides.png">
    </font>
</p>


