// @(#)javaws.policy	1.7 00/09/18

grant codeBase "file:${jnlpx.home}/lib/javaws.jar" {
    permission java.security.AllPermission;
};

grant codeBase "file:${jnlpx.home}/lib/deploy.jar" {
    permission java.security.AllPermission;
};

