########################################################################
# Global section
########################################################################

# Where is executable rrdtool found?
RRDTOOL_BIN=/opt/local/bin

# Where are the rrd scripts found?
RRD_SCRIPT=~/dev/weather/rrd/bin

# Where are the rrd databases found? 
RRD_DATABASE=~/dev/rrd-data
#RRD_DATABASE=~/tmp

# Where should the rrd graphs go?
RRD_GRAPH=~/dev/rrd-data/graphs

export TZ="EST5EDT";
#Boston:EST5EDT
#Amsterdam:CET-1CEST-2
# see http://www.sonoracomm.com/support/20-voice-support/107-uclibc-tz


########################################################################
# End of Global section
########################################################################

########################################################################
# `rrd_weather' specific
########################################################################

#
# ENABLE_PANGO_MARKUP
#
#  "no"  - disabled
#  "yes" - enabled
#   ^^^
#   +++- "yes" or anything but "no"  :p
#
# You can use simple markups in your legend and labels with Pango.
# By default, it's switched off as earlier versions of RRD didn't
# have this option available.
#
# For more information on the mark-up language, see:
#
#    [http://library.gnome.org/devel/pango/unstable/PangoMarkupFormat.html]
#
ENABLE_PANGO_MARKUP="no"

#
# FORCE_GRAPH_GENERATION
#
#  "no"  - only generate the graph if needed
#  "yes" - force graph generation
#   ^^^
#   +++- "yes" or anything but "no"  :p
#
# RRD has a `lazy' mode when generating graphs.  If the graph is not out of date,
# it's not generated; saves CPU cycles.
#
# Unless you're fiddling with colors, you should leave this value as `no'
#
FORCE_GRAPH_GENERATION="no"

#
# The RRD files
# 
# These parameters don't need to be changed ... unless you're trying
# to create a separate set of .rrd's ... or for some other reason.
#

APPARENT_FILE=$RRD_DATABASE/apparent_temp.rrd
DEWPOINT_FILE=$RRD_DATABASE/dewpoint.rrd
INSIDEHUM_FILE=$RRD_DATABASE/inside_hum.rrd
INSIDETEMP_FILE=$RRD_DATABASE/inside_temp.rrd
OUTSIDEHUM_FILE=$RRD_DATABASE/outside_hum.rrd
OUTSIDETEMP_FILE=$RRD_DATABASE/outside_temp.rrd
PRESSURE_FILE=$RRD_DATABASE/pressure.rrd
RAINFALL_FILE=$RRD_DATABASE/rainfall.rrd
RAINRATE_FILE=$RRD_DATABASE/rainrate.rrd
SOLAR_FILE=$RRD_DATABASE/solarradiation.rrd
WINDDIR_FILE=$RRD_DATABASE/winddirection.rrd
WINDGUST_FILE=$RRD_DATABASE/windgust.rrd
WINDSPEED_FILE=$RRD_DATABASE/windspeed.rrd

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Graph Titles and Reporting Units
# --------------------------------
# You may wish to change the language to suit your needs.  Each graph
# type can be configured to use a different unit-of-measure (UOM) - see
# `Weather station logging units' below.
#
# If you have a later version of RRD installed (or compiled a recent
# version, you may wish to set ENABLE_PANGO_MARKUP - search for the 
# variable in this file (above).  Once you've enabled pango-markup, you
# can use HTML tags to format your title, legends, etc.
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

#
# Generic
# -------
#

#
# Min, Max, Last labels
#
# If you need a `:', escape it (`\:') as it's a special character to RRD.
#
MAX="Max\:"
MIN="Min\:"
LAST="Last\:"
AVG="Avg\:"

#
# Date/Time format
#
# For a list of tokens, see:
#
#    [http://oss.oetiker.ch/rrdtool/doc/rrdgraph_graph.en.html]
#
# Note, when requiring `:' in your timestamp, you must escape it.  
# For example, "%I\:%M %p" would be used instead of ""%I:%M %p"
#
# Common date formats:
#
#   Definition  Example
#   ----------  --------
#   "%m/%d/%y"  02/25/09
#   "%d/%m/%y"  25/02/09
#
# Common time formats:
#
#   Definition  Example
#   ----------  -----------
#   "%I\:%M %p" 03:15:20 pm
#   "%H\:%M"    15:15:20
#
#   Note:  `:' is a special character for RRD and must be escaped.
#   
#
DATE_FORMAT="%d-%b-%y"
TIME_FORMAT="%H\:%M"

TIMESTAMP="@ $TIME_FORMAT, $DATE_FORMAT"

#
# Temperature
# -----------
#
TEMPERATURE_TITLE_M="Temperature (C)"
TEMPERATURE_TITLE_I="Temperature (F)"

#
# The UOM for each graph-type
#
# See TEMPERATURE_LOGGED below for valid values.  Although silly, you could
# force the Metric graph to report in Imperial units.  :p
#
TEMPERATURE_UOM_M="c"
TEMPERATURE_UOM_I="f"

#
# Legend parameters for temperature
#

#
# Use RRD formatting (\c = center) -see `rrdgraph_graph > GPRINT'
#
TEMPERATURE_FOOTER_M='Wind Chill only valid below 1.68 °C; Humidex valid at 9.0 °C and above\c'
TEMPERATURE_FOOTER_I='Wind Chill only valid below 35.02 °F; Humidex valid at 48.2 °F and above\c'

#
# Legend labels
#
TEMPERATURE='Temperature'
WIND_CHILL='Wind Chill'
HUMIDEX='Humidex'
DEW_POINT='Dew Point'
APPARENT='Apparent'

#
# Add spaces and/or <TAB>'s (\t) _before_ the Max/Min/Last labels.  This helps with
# localization.
#
# TABWIDTH can be adjusted with the TABWIDTH variable below.
#
TEMPERATURE_MAX_SHIM='    '
WIND_CHILL_MAX_SHIM=' '
DEW_POINT_MAX_SHIM='      '
HUMIDEX_MAX_SHIM='    '
APPARENT_MAX_SHIM='       '

TEMPERATURE_MIN_SHIM='   '
WIND_CHILL_MIN_SHIM='\t'
DEW_POINT_MIN_SHIM='   '
HUMIDEX_MIN_SHIM='\t'
APPARENT_MIN_SHIM='   '

TEMPERATURE_LAST_SHIM='      '
WIND_CHILL_LAST_SHIM='  '
DEW_POINT_LAST_SHIM='      '
HUMIDEX_LAST_SHIM='  '
APPARENT_LAST_SHIM='      '

#
# TEMPERATURE_TABWIDTH 
#
# The number of pixels a tab is worth.  Use this parameter to help with alignment
# when setting up your locale.
#
# The default value is 40 pixels
#
TEMPERATURE_TABWIDTH=20

#
# End of `Legend parameters for temperature'
#

#
# Solar
# -----------
#
SOLAR_TITLE_M="Solar radiation (W/m^2)"
SOLAR_TITLE_I="Solar radiation (W/m^2)"

#
# The UOM for each graph-type
#
# See SOLAR_LOGGED below for valid values.  Although silly, you could
# force the Metric graph to report in Imperial units.  :p
#
SOLAR_UOM_M="W/m^2"
SOLAR_UOM_I="W/m^2"

#
# Legend parameters for temperature
#

#
# Use RRD formatting (\c = center) -see `rrdgraph_graph > GPRINT'
#
SOLAR_FOOTER_M='Text in footer\c'
SOLAR_FOOTER_I='Text in footer\c'

#
# Legend labels
#
SOLAR='Solar radiation'

#
# Add spaces and/or <TAB>'s (\t) _before_ the Max/Min/Last labels.  This helps with
# localization.
#
# TABWIDTH can be adjusted with the TABWIDTH variable below.
#
SOLAR_MAX_SHIM=''
SOLAR_MIN_SHIM='   '
SOLAR_LAST_SHIM='\t\t\t'
SOLAR_AVG_SHIM='      '

#
# SOLAR_TABWIDTH 
#
# The number of pixels a tab is worth.  Use this parameter to help with alignment
# when setting up your locale.
#
# The default value is 40 pixels
#
SOLAR_TABWIDTH=40

#
# End of `Legend parameters for solar'
#


#
# Wind
# ----
#
WIND_TITLE_M="Wind Gust and Wind Speed (m/s); direction colorized"
WIND_TITLE_I="Wind Gust and Wind Speed (mph); direction colorized"
WIND_TITLE_K="Wind Gust and Wind Speed (kts); direction colorized"

#
# The UOM for each graph-type
#
# See WIND_LOGGED below for valid values.  
#
# Kludge
# ------
# At the moment we don't directly support generating `kts' graphs for anything other
# than detailed wind graphs.  If there's demand, we'll implement it.  For now, you
# can sacrifice, either `Imperial' or `Metric' and set its UOM to `kts'  For example,
# suppose you wish to generate 24h graphs primarily in metric.  You could set 
# `WIND_UOM_I="kts"' so when generating 24h imperial graphs, for wind, you'd 
# generate `kts' rather than `mph'
#
# As mentioned in the first sentence, `kts' is supported when generating 
# detailed wind graphs.
#
# TODO
# ----
# o If there's demand, support the ability to generate non-detailed wind
#   graphs in `kts'
#

#
WIND_UOM_M="m/s"
WIND_UOM_I="mph"
WIND_UOM_K="kts"

#
# Legend parameters for wind
#

#
# Legend labels
#
WIND_SPEED='Wind Speed'
WIND_GUST='Wind Gust'
NORTH="North"
NORTH_WEST="Northwest"
WEST="West"
SOUTH_WEST="Southwest"
SOUTH="South"
SOUTH_EAST="Southeast"
EAST="East"
NORTH_EAST="Northeast"

#
# Add spaces and/or <TAB>'s (\t) _before_ the Max/Min/Last labels.  This helps with
# localization.
#
# TABWIDTH can be adjusted with the TABWIDTH variable below.
#
WIND_GUST_MAX_SHIM='          '
WIND_SPEED_MAX_SHIM='         '

WIND_GUST_LAST_SHIM='\t\t\t\t\t\t\t  '
WIND_SPEED_LAST_SHIM='\t\t\t\t\t\t\t  '

#
# WIND_TABWIDTH 
#
# The number of pixels a tab is worth.  Use this parameter to help with alignment
# when setting up your locale.
#
# The default value is 40 pixels
#
WIND_TABWIDTH=40

#
# End of `Legend parameters for wind'
#

#
# Barometric Pressure
# -------------------
#
BAROMETRIC_PRESSURE_TITLE_M="Pressure (hPa)"
BAROMETRIC_PRESSURE_TITLE_I="Pressure (in)"

#
# The UOM for each graph-type
#
# See BAROMETRIC_PRESSURE_LOGGED below for valid values.
#
BAROMETRIC_PRESSURE_UOM_M="hPa"
BAROMETRIC_PRESSURE_UOM_I="inHg"

#
# Legend parameters for barometric pressure
#
BAROMETER="Pressure"

#
# Add spaces and/or <TAB>'s (\t) _before_ the Max/Min/Last labels.  This helps with
# localization.
#
# TABWIDTH can be adjusted with the TABWIDTH variable below.
#
BAROMETRIC_PRESSURE_MAX_SHIM='        '
BAROMETRIC_PRESSURE_MIN_SHIM=' '
BAROMETRIC_PRESSURE_LAST_SHIM='     '

#
# BAROMETRIC_PRESSURE_TABWIDTH 
#
# The number of pixels a tab is worth.  Use this parameter to help with alignment
# when setting up your locale.
#
# The default value is 40 pixels
#
BAROMETRIC_PRESSURE_TABWIDTH=40

#
# End of `Legend parameters for barometric pressure'
#

#
# Humidity
# --------
#
HUMIDITY_TITLE_M="Humidity (%)"
HUMIDITY_TITLE_I="Humidity (%)"

#
# Legend parameters for humidity
#
HUMIDITY="Humidity"

#
# Use RRD formatting (\c = center) -see `rrdgraph_graph > GPRINT'
#
HUMIDITY_FOOTER_M='Relative Humidity is only valid at -10 °C and above\c'
HUMIDITY_FOOTER_I='Relative Humidity is only valid at 14 °F and above\c'

#
# Add spaces and/or <TAB>'s (\t) _before_ the Max/Min/Last labels.  This helps with
# localization.
#
# TABWIDTH can be adjusted with the TABWIDTH variable below.
#
HUMDITY_MAX_SHIM='        '
HUMDITY_MIN_SHIM='    '
HUMDITY_LAST_SHIM='      '

#
# HUMIDITY_TABWIDTH 
#
# The number of pixels a tab is worth.  Use this parameter to help with alignment
# when setting up your locale.
#
# The default value is 40 pixels
#
HUMIDITY_TABWIDTH=40

#
# End of `Legend parameters for humidity'
#

#
# Rain
# ----
#
RAIN_TITLE_M="Precipitation (mm)"
RAIN_TITLE_I="Precipitation (in)"

#
# The UOM for each graph-type
#
# See RAIN_LOGGED below for valid values.
#
RAIN_UOM_M="mm"
RAIN_UOM_I="in"

#
# Legend parameters for Rain
#
RAIN="Precipitation"
RAINRATE="Rate per hour"
RAINTICK="Precip. tick"

#
# Add spaces and/or <TAB>'s (\t) _before_ the Max/Min/Last labels.  This helps with
# localization.
#
# TABWIDTH can be adjusted with the TABWIDTH variable below.
#
RAIN_MAX_SHIM='   '
RAIN_LAST_SHIM='\t\t\t\t\t\t  '

RAINTICK_MAX_SHIM='       '
RAINTICK_LAST_SHIM='\t\t\t\t\t\t  '

RAINRATE_MAX_SHIM='     '
RAINRATE_LAST_SHIM='\t\t\t\t\t\t  '

#
# RAIN_TABWIDTH 
#
# The number of pixels a tab is worth.  Use this parameter to help with alignment
# when setting up your locale.
#
# The default value is 40 pixels
#
RAIN_TABWIDTH=40

#
# End of `Legend parameters for Rain'
#

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# End of `Graph Titles'
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Graph Files
# -----------
# Include these in your web pages or copy them elsewhere.
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

#
# Dimensions:  Width x Height (in pixels)
#
# Note:  Do not forget the parenthesis as these are shell arrays.
#
TEMPERATURE_X_DIMENSION='700'
TEMPERATURE_Y_DIMENSION='160'

SOLAR_X_DIMENSION='700'
SOLAR_Y_DIMENSION='160'

WIND_X_DIMENSION='700'
WIND_Y_DIMENSION='100'

BAROMETRIC_X_DIMENSION='700'
BAROMETRIC_Y_DIMENSION='100'

HUMIDITY_X_DIMENSION='700'
HUMIDITY_Y_DIMENSION='80'

RAIN_X_DIMENSION='700'
RAIN_Y_DIMENSION='80'

#
# Metric results
#
GRAPH_24H_TEMP_M_FILE=$RRD_GRAPH/temp_24h_m.png
GRAPH_72H_TEMP_M_FILE=$RRD_GRAPH/temp_72h_m.png
GRAPH_1W_TEMP_M_FILE=$RRD_GRAPH/temp_1w_m.png
GRAPH_2w_TEMP_M_FILE=$RRD_GRAPH/temp_2w_m.png
GRAPH_MONTH_TEMP_M_FILE=$RRD_GRAPH/temp_month_m.png

GRAPH_24H_SOLAR_M_FILE=$RRD_GRAPH/solar_24h_m.png
GRAPH_72H_SOLAR_M_FILE=$RRD_GRAPH/solar_72h_m.png
GRAPH_1W_SOLAR_M_FILE=$RRD_GRAPH/solar_1w_m.png
GRAPH_2W_SOLAR_M_FILE=$RRD_GRAPH/solar_2w_m.png
GRAPH_MONTH_SOLAR_M_FILE=$RRD_GRAPH/solar_month_m.png

GRAPH_30M_WIND_M_FILE=$RRD_GRAPH/wind_30m_m.png
GRAPH_1H_WIND_M_FILE=$RRD_GRAPH/wind_1h_m.png
GRAPH_4H_WIND_M_FILE=$RRD_GRAPH/wind_4h_m.png
GRAPH_8H_WIND_M_FILE=$RRD_GRAPH/wind_8h_m.png
GRAPH_24H_WIND_M_FILE=$RRD_GRAPH/wind_24h_m.png
GRAPH_72H_WIND_M_FILE=$RRD_GRAPH/wind_72h_m.png
GRAPH_1W_WIND_M_FILE=$RRD_GRAPH/wind_1w_m.png
GRAPH_2W_WIND_M_FILE=$RRD_GRAPH/wind_2w_m.png
GRAPH_MONTH_WIND_M_FILE=$RRD_GRAPH/wind_month_m.png

GRAPH_24H_BAROMETER_M_FILE=$RRD_GRAPH/barometer_24h_m.png
GRAPH_72H_BAROMETER_M_FILE=$RRD_GRAPH/barometer_72h_m.png
GRAPH_1W_BAROMETER_M_FILE=$RRD_GRAPH/barometer_1w_m.png
GRAPH_2W_BAROMETER_M_FILE=$RRD_GRAPH/barometer_2w_m.png
GRAPH_MONTH_BAROMETER_M_FILE=$RRD_GRAPH/barometer_month_m.png

GRAPH_24H_DAILY_RAIN_M_FILE=$RRD_GRAPH/daily_rain_24h_m.png
GRAPH_72H_DAILY_RAIN_M_FILE=$RRD_GRAPH/daily_rain_72h_m.png
GRAPH_1W_DAILY_RAIN_M_FILE=$RRD_GRAPH/daily_rain_1w_m.png
GRAPH_2W_DAILY_RAIN_M_FILE=$RRD_GRAPH/daily_rain_2w_m.png
GRAPH_MONTH_DAILY_RAIN_M_FILE=$RRD_GRAPH/daily_rain_month_m.png

GRAPH_24H_HUMIDITY_M_FILE=$RRD_GRAPH/humidity_24h_m.png
GRAPH_72H_HUMIDITY_M_FILE=$RRD_GRAPH/humidity_72h_m.png
GRAPH_1W_HUMIDITY_M_FILE=$RRD_GRAPH/humidity_1w_m.png
GRAPH_2W_HUMIDITY_M_FILE=$RRD_GRAPH/humidity_2w_m.png
GRAPH_MONTH_HUMIDITY_M_FILE=$RRD_GRAPH/humidity_month_m.png

#
# Imperial results
#
GRAPH_24H_TEMP_I_FILE=$RRD_GRAPH/temp_24h_i.png
GRAPH_72H_TEMP_I_FILE=$RRD_GRAPH/temp_72h_i.png
GRAPH_1W_TEMP_I_FILE=$RRD_GRAPH/temp_1w_i.png
GRAPH_2W_TEMP_I_FILE=$RRD_GRAPH/temp_2w_i.png
GRAPH_MONTH_TEMP_I_FILE=$RRD_GRAPH/temp_month_i.png

GRAPH_24H_SOLAR_I_FILE=$RRD_GRAPH/solar_24h_i.png
GRAPH_72H_SOLAR_I_FILE=$RRD_GRAPH/solar_72h_i.png
GRAPH_1W_SOLAR_I_FILE=$RRD_GRAPH/solar_1w_i.png
GRAPH_2W_SOLAR_I_FILE=$RRD_GRAPH/solar_2w_i.png
GRAPH_MONTH_SOLAR_I_FILE=$RRD_GRAPH/solar_month_i.png

GRAPH_30M_WIND_I_FILE=$RRD_GRAPH/wind_30m_i.png
GRAPH_1H_WIND_I_FILE=$RRD_GRAPH/wind_1h_i.png
GRAPH_4H_WIND_I_FILE=$RRD_GRAPH/wind_4h_i.png
GRAPH_8H_WIND_I_FILE=$RRD_GRAPH/wind_8h_i.png
GRAPH_24H_WIND_I_FILE=$RRD_GRAPH/wind_24h_i.png
GRAPH_72H_WIND_I_FILE=$RRD_GRAPH/wind_72h_i.png
GRAPH_1W_WIND_I_FILE=$RRD_GRAPH/wind_12_i.png
GRAPH_2W_WIND_I_FILE=$RRD_GRAPH/wind_2w_i.png
GRAPH_MONTH_WIND_I_FILE=$RRD_GRAPH/wind_month_i.png

GRAPH_24H_BAROMETER_I_FILE=$RRD_GRAPH/barometer_24h_i.png
GRAPH_72H_BAROMETER_I_FILE=$RRD_GRAPH/barometer_72h_i.png
GRAPH_1W_BAROMETER_I_FILE=$RRD_GRAPH/barometer_1W_i.png
GRAPH_2W_BAROMETER_I_FILE=$RRD_GRAPH/barometer_2W_i.png
GRAPH_MONTH_BAROMETER_I_FILE=$RRD_GRAPH/barometer_month_i.png

GRAPH_24H_DAILY_RAIN_I_FILE=$RRD_GRAPH/daily_rain_24h_i.png
GRAPH_72H_DAILY_RAIN_I_FILE=$RRD_GRAPH/daily_rain_72h_i.png
GRAPH_1W_DAILY_RAIN_I_FILE=$RRD_GRAPH/daily_rain_1w_i.png
GRAPH_2W_DAILY_RAIN_I_FILE=$RRD_GRAPH/daily_rain_2w_i.png
GRAPH_MONTH_DAILY_RAIN_I_FILE=$RRD_GRAPH/daily_rain_month_i.png

GRAPH_24H_HUMIDITY_I_FILE=$RRD_GRAPH/humidity_24h_i.png
GRAPH_72H_HUMIDITY_I_FILE=$RRD_GRAPH/humidity_72h_i.png
GRAPH_1W_HUMIDITY_I_FILE=$RRD_GRAPH/humidity_1w_i.png
GRAPH_2W_HUMIDITY_I_FILE=$RRD_GRAPH/humidity_2w_i.png
GRAPH_MONTH_HUMIDITY_I_FILE=$RRD_GRAPH/humidity_month_i.png

#
# Knots
#
GRAPH_30M_WIND_K_FILE=$RRD_GRAPH/wind_30m_k.png
GRAPH_1H_WIND_K_FILE=$RRD_GRAPH/wind_1h_k.png
GRAPH_4H_WIND_K_FILE=$RRD_GRAPH/wind_4h_k.png
GRAPH_8H_WIND_K_FILE=$RRD_GRAPH/wind_8h_k.png
GRAPH_24H_WIND_K_FILE=$RRD_GRAPH/wind_24h_k.png
GRAPH_72H_WIND_K_FILE=$RRD_GRAPH/wind_72h_k.png
GRAPH_1W_WIND_K_FILE=$RRD_GRAPH/wind_1w_k.png
GRAPH_2W_WIND_K_FILE=$RRD_GRAPH/wind_2w_k.png
GRAPH_MONTH_WIND_K_FILE=$RRD_GRAPH/wind_month_k.png

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# End of `Graph Files'
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Graph Colors
# ------------
# Specify in hex; lowercase or uppercase.
#
# I use the following link:
#
#    [http://www.tayloredmktg.com/rgb]
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

#### 
# Affect all graphs with the followig global changes
#### 

#
# The verticle line color to use at midnight
#
MIDNIGHT_LINE="db7093"

#
# Major grid color on all graphs
#
MAJOR_GRID_COLOR="c1c1c1"

#
# Arrow color at the lower righthand of the graph
#
ARROW_COLOR="ff0000"

#### 
# Graph specific colorization
#### 

#
# Temperature graph
#
TEMPERATURE_AREA_COLOR="ffe4b5"
TEMPERATURE_LINE_COLOR="ff9900"
WIND_CHILL_LINE_COLOR="3333ff"
HUMIDEX_LINE_COLOR="666600"
DEW_POINT_LINE_COLOR="0000ff"
APPARENT_LINE_COLOR="666600"

#
# Solar graph
#
SOLAR_AREA_COLOR="ffff00"
SOLAR_LINE_COLOR="ff9900"

#
# Wind graph
#
WIND_GUST_LINE_COLOR="000000"
WIND_GUST_AREA_COLOR="a1a1a1"
WIND_SPEED_LINE_COLOR="000000"

NORTH_AREA_COLOR="ffff00"
NORTH_WEST_AREA_COLOR="ff9900"
WEST_AREA_COLOR="ff0000"
SOUTH_WEST_AREA_COLOR="ff00cc"
SOUTH_AREA_COLOR="9933ff"
SOUTH_EAST_AREA_COLOR="3333ff"
EAST_AREA_COLOR="33ff33"
NORTH_EAST_AREA_COLOR="000066"

#
# Humidity graph
#
HUMIDITY_AREA_COLOR="ddffdd"
HUMIDITY_LINE_COLOR="99cc99"

#
# Barometric graph
#
PRESSURE_LINE_COLOR="A9A9F5"
PRESSURE_AREA_COLOR="CEF6F5"


#
# Rain graph
#
RAINRATE_LINE_COLOR="FF0000"
RAINRATE_AREA_COLOR="FF0000"
RAINTICK_LINE_COLOR="003366"
RAINTICK_AREA_COLOR="819eca"

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# End of `Graph Colors'
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Weather station logging units
# -----------------------------
# What your weather station is configured to log for the varoius
# metrics.  If you're using Weather Display, ignore this section.
#
# *** Warning ***
#
# No edit checking is done by the underlying code so be careful.  ;)
#
# *** Warning ***
#
# Weather Display reports metric values - see below.
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

#
# Temperature logged in ...
#
# `c' or `f' - celsius or fahrenheit
#
# Weather Display reports in `c'
#
TEMPERATURE_LOGGED="c"

#
# Solar radioation logged in ...
#
#
SOLAR_LOGGED="WM2"

#
# Wind logged in ...
#
# `kts', `kmh' or `mph'
#
# Weather Display reports in `kts'
#
WIND_LOGGED="mph"

#
# Barometric pressure logged in ...
#
# `hPa' or `inHg'
#
# Weather Display reports in `hPa'
#
BAROMETRIC_PRESSURE_LOGGED="hPa"

#
# Rain logged in ...
#
# `mm' or `in'
#
# Weather Display reports in `mm'
#
RAIN_LOGGED="in"

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# End of `Weather station logging units'
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

########################################################################
# End of `rrd_weather' specific
########################################################################
