<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JavaPluginCocoa</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.JavaPluginCocoa</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>JavaPluginCocoa</string>
	<key>CFBundlePackageType</key>
	<string>WBPL</string>
	<key>CFBundleShortVersionString</key>
	<string>13.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>13.0.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2002-2009 Apple, Inc. All Rights Reserved.</string>
	<key>NSPrincipalClass</key>
	<string>SwitchablePlugin</string>
	<key>WebPluginDescription</key>
	<string>Java Switchable Plug-in (Cocoa)</string>
	<key>WebPluginMIMETypesFilename</key>
	<string>com.apple.java.JavaPreferences.plist</string>
	<key>WebPluginName</key>
	<string>Java Plug-in for Cocoa</string>
</dict>
</plist>
