AddHandler fastcgi-script .fcgi
Options +FollowSymLinks +ExecCGI
#RewriteRule ^([^\.]+[^/])$ http://%{HTTP_HOST}/$1/ [R=301,L]

# If your Rails application is accessed via an Alias directive,
# then you MUST also set the RewriteBase in this htaccess file.
#
# Example:
#   Alias /myrailsapp /path/to/myrailsapp/public
#RewriteBase /wx

RewriteCond %{REQUEST_URI} ^/weather/java.*
RewriteRule .* - [L]
RewriteCond %{REQUEST_URI} ^/weather/javascripts.*
RewriteRule .* - [L]
RewriteCond %{REQUEST_URI} ^/weather/images.*
RewriteRule .* - [L]

RewriteEngine On
RewriteRule ^$ index.html [QSA]
RewriteRule ^([^.]+)$ $1.html [QSA]
RewriteRule ^(.*)$ dispatch.fcgi [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f

# In case Rails experiences terminal errors
# Instead of displaying this message you can supply a file here which will be rendered instead
# 
# Example:
#   ErrorDocument 500 /500.html

#ErrorDocument 500 "<h2>Custom Application error</h2>Rails application failed to start properly"

